@model AdventurePark.Models.Rides

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rides</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RideName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RideName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RideDifficultyLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RideDifficultyLevel)
        </dd>

    </dl>
</div>
<p>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
